<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
    User-specific configuration for maven. Includes things that should not 
    be distributed with the pom.xml file, such as developer identity, along with 
    local settings, like proxy information. The default location for the
    settings file is ~/.m2/settings.xml 
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 <proxies>
    <proxy>
        <id>fedex-proxy</id>
        <active>true</active>
        <protocol>http</protocol>
        <host>internet.proxy.fedex.com</host>
        <port>3128</port>
        <username></username>
        <password></password>
    </proxy>
  </proxies>
   
  <servers>
        <server>
            <id>nexux</id>
            <username>admin</username>
            <password>admin</password>
        </server>
 </servers>
</settings>
